* {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: white;
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin-top: 30px;
    border-radius: 50%;
    width: 150px;
}

h2,
p {
    padding: 15px;
}



ul li {
    font-style: none;
}



a {
    margin: 0 30%;
    position: relative;
    display: block;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 15px;
    padding: 20px 55px;
    background-color: #35353a;
}

a:hover {
    transition: 0.3s;
    background-color: #4e4e55;
}

#rod a{
    flex-shrink: 0;
    background-color: #121212;
    padding-top: 80px;
}

footer{
    position:absolute;
    bottom:0; 
    width:100%;
    margin-top: 10px;
}

footer a:hover {
    background-color: #121212;

}


@media only screen and (max-width: 865px) {
    a {
        margin: 0 20%;
        position: relative;
        display: block;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 15px;
        padding: 20px 55px;
        background-color: #35353a;
    }
}

@media only screen and (max-width: 695px) {
    a {
        margin: 0 10%;
        position: relative;
        display: block;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 15px;
        padding: 20px 55px;
        background-color: #35353a;
    }
}

@media only screen and (max-width: 375px) {
    a {
        margin: 0 5%;
        position: relative;
        display: block;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 15px;
        padding: 20px 55px;
        background-color: #35353a;
    }
}